footer {
    background-color: #151515;
    color: #00ff80;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #00ff80;
    box-shadow: 0 -5px 15px rgba(0, 255, 128, 0.1);
    direction: rtl;
}

footer a {
    color: #00ff80;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ff6161;
    text-decoration: underline;
}
