
body {
    font-family: 'Vazir', sans-serif;
    color: #f5f5f5;
    direction: rtl;
}

.ultra-navbar {
    background-color: #212121;
}

.navbar-brandtext-green {
    color: #4caf50;
    font-weight: 700;
    font-size: 1.8rem;
}

.navbar-brandtext-green:hover {
    color: #81c784;
}

.nav-link.text-white:hover,
.nav-link.active {
    color: #81c784 !important;
}

.contact-container {
    max-width: 600px;
    margin: 50px auto 80px;
    background: linear-gradient(135deg, #2a2a2a, #1c1c1c);
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(72, 187, 120, 0.5);
}

.contact-container h1 {
    color: #4caf50;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

label {
    color: #a5d6a7;
    font-weight: 600;

}

.form-control {
    background-color: #2f2f2f;
    border: 1px solid #4caf50;
    color: #f5f5f5;
}

.form-control::placeholder {
    color: #c8e6c9;
    opacity: 0.8;

}

.form-control:focus {
    background-color: #3a3a3a;
    border-color: #81c784;
    color: #fff;
    box-shadow: 0 0 8px #81c784;
}

.input-group-text {
    background-color: #4caf50;
    color: #121212;
    border: none;
}

.btn-send {
    background: linear-gradient(to right, #43e97b, #38f9d7);
    border: none;
    width: 100%;
    padding: 12px 0;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #111;
}

.btn-send:hover {
    background: linear-gradient(to right, #2ccc87, #2bc4aa);
    color: #fff;
}

footer {
    background-color: #151515;

}
